/* gen by new.py at 2021-02-15 10:56:42.892316 */
body {
  background-color: #111;
  color: #aaa;
  font-family: monospace;
  font-size: 11px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

canvas {
  image-rendering: pixelated;
  position: absolute;
}
