body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

canvas {
  width: auto;
  height: 50vh;
  display: block;
  image-rendering: pixelated;
}

